.navbar-brand img{
    max-width: 40px;
    
}

.navbar-brand {
    max-width: 40px;
    color:rgb(189, 20, 20);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
    background-color: #1a1d24;
}

.nav-link{
    color:whitesmoke;
}

.nav-link:hover{
    color:rgb(189, 20, 20);
}

.nav-item{
    min-width: 10rem;
    text-align: center;
    color:whitesmoke;
}
.active{
 position:absolute;
 bottom: 1.5rem;
 height: 2px;
 width: 10rem;
 background-color: #fff;
 transition: transform 0.25s;
}

.nav-item:nth-child(2):hover ~ .active {
    transform: translateX(10rem);
}

.nav-item:nth-child(3):hover ~ .active {
    transform: translateX(20rem);
}

.nav-item:nth-child(4):hover ~ .active {
    transform: translateX(30rem);
}

.nav-item:nth-child(5):hover ~ .active {
    transform: translateX(40rem);
}

header .row{
    min-height: 70vh;
    background-image: url(../image/loop-chicago.jpg);
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.formlogo{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 70vh;
    font-family: 'Raleway', sans-serif;
}

header h2{
    font-family: 'Pompiere', cursive;
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 768px){
    header .accroche{
        display: none;
    }
}

#services .icon span{
    color:red;
    font-size: 1.5rem;
}

#services .media{
    padding:0.5rem 1rem;
    transition: all .3s ease-in-out;
}

#services .media:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

#realisation .row{
    min-height: calc(100vh - 50px);
    background-image: url(../image/loop_metro.jpg);
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.colrealisation{
    min-height: calc(100vh - 50px);
    color:black;
    box-shadow: -1px 3px 7px rgb(0 0 0 / 20%)
}

.colrealisation span img{
    height:9rem;
}

.colrealisation h5{
    font-size: 2.5rem;
    color:#888;
}

.card{    
    box-shadow: -1px 3px 7px rgb(0 0 0 / 20%);
    padding: 10px;
}


.vignette{
    min-height: calc(100vh - 50px);
}

#whyndh{
    min-height: calc(100vh - 50px);
    color: #161616;
}

#contact{
    min-height: calc(100vh - 50px);
    background-color: black;
    color: #fff;
}

#contact .row{
    min-height: calc(100vh - 50px);;
}

.formcontact{
    padding: 2rem 1rem;
}

footer{
    background-color: rgba(0, 0, 0,.8);
    color: #999;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

footer a{
    color:#999;
    font-size: 2rem;
    transition: .2 ease-in-out;
}

footer a:hover{
    color:#fff;
    font-size: 2rem;
    text-decoration: none;
}